@font-face {
	font-family: 'IRANSans';
	src: url('Mitra.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'MitraWeb';
	src: url('MitraWeb-Bold.woff') format('woff');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'WYekan';
	src:  url('YekanWeb-Regular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
@font-face {
  font-family: 'FontAwesome';
  src: url('fontawesome-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}


@font-face {
    font-family: "IRANSans";
    font-weight: bold;
    src: url("WebFonts/eot/IRANSansWeb_Medium.eot?#iefix") format("eot"), url("WebFonts/woff2/IRANSansWeb_Medium.woff2") format("woff2"), url("WebFonts/woff/IRANSansWeb_Medium.woff") format("woff"), url("WebFonts/ttf/IRANSansWeb_Medium.ttf") format("ttf");
}
@font-face {
    font-family: "IRANSans";
    font-weight: normal;
    src: url("WebFonts/eot/IRANSansWeb_Light.eot?#iefix") format("eot"), url("WebFonts/woff2/IRANSansWeb_Light.woff2") format("woff2"), url("WebFonts/woff/IRANSansWeb_Light.woff") format("woff"), url("WebFonts/ttf/IRANSansWeb_Light.ttf") format("ttf");
}
@font-face {
    font-family: "Zar";
    font-weight: bold;
    src: url("Zar.eot?#iefix") format("eot"), url("Zar.woff") format("woff"), url("Zar.ttf") format("ttf");
}
@font-face {
    font-family: "Nazanin";
    font-weight: bold;
    src: url("Nazanin.eot?#iefix") format("eot"), url("Nazanin.woff") format("woff"), url("Nazanin.ttf") format("ttf");
}
